<h2 class="page-header">Search Book</h2>
<form action="/books" method="GET">
    <div class="from-row">
        <div class="from-item">
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>" >
        </div>
    </div>
    <div class="from-row">
        <div class="from-item">
            <label>Published After</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>" >
        </div>
        <div class="from-item">
            <label>Published Before</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>" >
        </div>
    </div>
    <div class="from-row from-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    
</form>
<br>
<% books.forEach( book =>{ %> 
    <a href="/books/<%= book.id %>">
        <img height="150" width="100" src="<%= book.coverImagePath  %>">
    </a>
<% }) %> 